* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1170px;
  padding: 0 12px;
  margin: 0 auto;
}

.search {
  margin-bottom: 45px;
}

.search__box {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(37, 110, 235);
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content__main {
  width: 100%;
}

.search__box input {
  flex-grow: 1;
  padding: 14px 22px;
  border-radius: 5px;
  outline: none;
  border: none;
  min-width: 0;
}

.search-btn {
  display: flex;
  align-items: center;
  gap: 3px;
}

.search-btn__icon {
  width: 15px;
  height: 15px;
}

.search-btn__text {
  font-size: 16px;
  line-height: 19px;
}
.content{
  margin-bottom: 35px;
}
.content__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.content-main__title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.content-main__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.content__side {
  width: 260px;
  min-width: 260px;
}

.side__title {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 23px;
}

.side__box {
  color: rgb(10, 20, 58);
}

.side__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 25px;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 36px;
  margin-bottom: 50px;
}

.content-side__footer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content-side__footer--item {
  color: rgb(196, 196, 196);
  font-size: 14px;
  line-height: 16px;
}

.content__product {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.content-product__left {
  flex-basis: 50%;
}

.content-product__rigth {
  flex-basis: 50%;
}

.content-product__title,
.content-product__price {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.content-product__img {
  width: 100%;
  margin-bottom: 20px;
}

.content-product__text {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.btn-large {
  padding: 19px 71px;
  font-size: 16px;
  line-height: 16px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 930px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }
  .content__box {
    flex-direction: column;
    gap: 65px;
  }
  .content__side {
    width: 100%;
    margin: 0 auto;
  }
  .side__title {
    text-align: center;
  }
  .content-side__footer {
    text-align: center;
    gap: 10px;
    margin-bottom: 25px;
  }
  .content__product {
    flex-direction: column;
  }
  .content-product__left {
    flex-basis: 100%;
  }
  .content-product__rigth {
    flex-basis: 100%;
  }
}
@media (max-width: 786px) {
  .container {
    max-width: 100%;
  }
  .search-btn__text {
    display: none;
  }
}